##################
# funAGI modules #
##################

# For interacting with the OpenAI API.
openai

# For interacting with the groq models
groq

# For loading environment variables from a .env file.
python-dotenv

# for UI integration as fastapi
nicegui

# interact with interface programatically
pynput

# For fast JSON processing.
ujson

# For system and process utilities.
psutil
